In [1]:
import pandas as pd

## Read movie data

https://github.com/prasertcbs/basic-dataset/raw/master/IMDB_Movie_1000_Data.csv

In [2]:
df=pd.read_csv('https://github.com/prasertcbs/basic-dataset/raw/master/IMDB_Movie_1000_Data.csv', nrows=5)  #5เเถว
df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40

In [3]:
df=pd.read_csv('https://github.com/prasertcbs/basic-dataset/raw/master/IMDB_Movie_1000_Data.csv', 
    nrows=5, usecols=['Title','Genre','Year'])
df

                     Title                     Genre  Year
0  Guardians of the Galaxy   Action,Adventure,Sci-Fi  2014
1               Prometheus  Adventure,Mystery,Sci-Fi  2012
2                    Split           Horror,Thriller  2016
3                     Sing   Animation,Comedy,Family  2016
4            Suicide Squad  Action,Adventure,Fantasy  2016

### convert Genre to list

In [4]:
df.Genre[4]

'Action,Adventure,Fantasy'

In [5]:
df.Genre[4].split(',') # ข้อมูลแต่ละตัวถูกคั่นด้วย , เเละเป็น list

['Action', 'Adventure', 'Fantasy']

In [6]:
df.Genre.str.split(',')

0     [Action, Adventure, Sci-Fi]
1    [Adventure, Mystery, Sci-Fi]
2              [Horror, Thriller]
3     [Animation, Comedy, Family]
4    [Action, Adventure, Fantasy]
Name: Genre, dtype: object

In [7]:
df['glist']=df.Genre.str.split(',')   
df

,Title,Genre,Year,glist
0,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",2014,"[Action, Adventure, Sci-Fi]"
1,Prometheus,"Adventure,Mystery,Sci-Fi",2012,"[Adventure, Mystery, Sci-Fi]"
2,Split,"Horror,Thriller",2016,"[Horror, Thriller]"
3,Sing,"Animation,Comedy,Family",2016,"[Animation, Comedy, Family]"
4,Suicide Squad,"Action,Adventure,Fantasy",2016,"[Action, Adventure, Fantasy]"

In [8]:
df['glist'][2][1]

'Thriller'

### Explode/Unnest Genre List

In [9]:
dt=df.explode('glist')
dt    #เเยกข้อมูลในlist

                     Title                     Genre  Year      glist
0  Guardians of the Galaxy   Action,Adventure,Sci-Fi  2014     Action
0  Guardians of the Galaxy   Action,Adventure,Sci-Fi  2014  Adventure
0  Guardians of the Galaxy   Action,Adventure,Sci-Fi  2014     Sci-Fi
1               Prometheus  Adventure,Mystery,Sci-Fi  2012  Adventure
1               Prometheus  Adventure,Mystery,Sci-Fi  2012    Mystery
1               Prometheus  Adventure,Mystery,Sci-Fi  2012     Sci-Fi
2                    Split           Horror,Thriller  2016     Horror
2                    Split           Horror,Thriller  2016   Thriller
3                     Sing   Animation,Comedy,Family  2016  Animation
3                     Sing   Animation,Comedy,Family  2016     Comedy
3                     Sing   Animation,Comedy,Family  2016     Family
4            Suicide Squad  Action,Adventure,Fantasy  2016     Action
4            Suicide Squad  Action,Adventure,Fantasy  2016  Adventure
4            Suicide Squad  Action,Adventure,Fantasy  2016    Fantasy

In [10]:
dt['glist'].value_counts()

Adventure    3
Sci-Fi       2
Action       2
Comedy       1
Thriller     1
Fantasy      1
Mystery      1
Family       1
Horror       1
Animation    1
Name: glist, dtype: int64

In [11]:
pd.crosstab(dt['Year'], dt['glist'], margins=all)

glist,Action,Adventure,Animation,Comedy,Family,Fantasy,Horror,Mystery,Sci-Fi,Thriller,All
Year,,,,,,,,,,,
2012,0,1,0,0,0,0,0,1,1,0,3
2014,1,1,0,0,0,0,0,0,1,0,3
2016,1,1,1,1,1,1,1,0,0,1,8
All,2,3,1,1,1,1,1,1,2,1,14

---
## create movie_id

In [12]:
df=pd.read_csv('https://github.com/prasertcbs/basic-dataset/raw/master/IMDB_Movie_1000_Data.csv', 
    nrows=5, usecols=['Title','Genre','Year'])
df

                     Title                     Genre  Year
0  Guardians of the Galaxy   Action,Adventure,Sci-Fi  2014
1               Prometheus  Adventure,Mystery,Sci-Fi  2012
2                    Split           Horror,Thriller  2016
3                     Sing   Animation,Comedy,Family  2016
4            Suicide Squad  Action,Adventure,Fantasy  2016

In [13]:
df['movie_id']=df.index
df

                     Title                     Genre  Year  movie_id
0  Guardians of the Galaxy   Action,Adventure,Sci-Fi  2014         0
1               Prometheus  Adventure,Mystery,Sci-Fi  2012         1
2                    Split           Horror,Thriller  2016         2
3                     Sing   Animation,Comedy,Family  2016         3
4            Suicide Squad  Action,Adventure,Fantasy  2016         4

In [14]:
df['glist']=df.Genre.str.split(',')
df

,Title,Genre,Year,movie_id,glist
0,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",2014,0,"[Action, Adventure, Sci-Fi]"
1,Prometheus,"Adventure,Mystery,Sci-Fi",2012,1,"[Adventure, Mystery, Sci-Fi]"
2,Split,"Horror,Thriller",2016,2,"[Horror, Thriller]"
3,Sing,"Animation,Comedy,Family",2016,3,"[Animation, Comedy, Family]"
4,Suicide Squad,"Action,Adventure,Fantasy",2016,4,"[Action, Adventure, Fantasy]"

In [ ]:
dt=df.explode('glist')
dt

In [ ]:
# dt=df.explode('glist')
dg=dt[['movie_id', 'glist']]
dg

## explode Actors column

In [ ]:
df=pd.read_csv('https://github.com/prasertcbs/basic-dataset/raw/master/IMDB_Movie_1000_Data.csv', 
    nrows=5)
df

In [ ]:
df=pd.read_csv('https://github.com/prasertcbs/basic-dataset/raw/master/IMDB_Movie_1000_Data.csv', 
    nrows=5, usecols=[1,5])
df

In [ ]:
df['actor']=df.Actors.str.split(', ')
df

In [ ]:
df.explode('actor')