In [1]:
import pandas as pd
import numpy as np

## Example 1: apply to DataFrame by axis

In [2]:
df=pd.read_table('https://github.com/prasertcbs/tutorial/raw/master/sales.tsv', index_col='Year')
df

          TV  Camera   Phone
Year
2011  556300  943620  518600
2012  344200  583370  323920
2013  727320  548640  941500
2014  462870  661520  650570
2015  916600  974180  148740
2016  176830  588990  910570
2017  745550  896860  982820

In [3]:
df.apply(np.sum)   #ใช่ np หา sum ได้

TV        3929670
Camera    5197180
Phone     4476720
dtype: int64

In [4]:
df.apply(np.sum, axis=0)

TV        3929670
Camera    5197180
Phone     4476720
dtype: int64

In [5]:
df.apply(np.sum, axis='index')

TV        3929670
Camera    5197180
Phone     4476720
dtype: int64

In [6]:
df.apply(np.sum, axis=1)

Year
2011    2018520
2012    1251490
2013    2217460
2014    1774960
2015    2039520
2016    1676390
2017    2625230
dtype: int64

In [7]:
df.apply(np.sum, axis='columns')

Year
2011    2018520
2012    1251490
2013    2217460
2014    1774960
2015    2039520
2016    1676390
2017    2625230
dtype: int64

In [8]:
df.sum()

TV        3929670
Camera    5197180
Phone     4476720
dtype: int64

In [9]:
df.sum(axis=1)

Year
2011    2018520
2012    1251490
2013    2217460
2014    1774960
2015    2039520
2016    1676390
2017    2625230
dtype: int64

In [10]:
from scipy import stats

In [11]:
df.apply(stats.hmean)

TV        428773.063662
Camera    703686.417471
Phone     425440.529110
dtype: float64

In [12]:
df.apply(stats.hmean, axis=1)

Year
2011    626879.558570
2012    389274.318996
2013    704269.269335
2014    575902.233035
2015    339342.184959
2016    354979.850179
2017    863614.238880
dtype: float64

## Example 2: mpg

In [13]:
df=pd.read_csv('https://github.com/prasertcbs/tutorial/raw/master/mpg.csv')
df[:10]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
5,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact
6,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
7,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact
8,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact
9,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact

In [0]:
df.manufacturer.apply(str.upper) #ทำให้ตัวใหญ่

0            AUDI
1            AUDI
2            AUDI
3            AUDI
4            AUDI
5            AUDI
6            AUDI
7            AUDI
8            AUDI
9            AUDI
10           AUDI
11           AUDI
12           AUDI
13           AUDI
14           AUDI
15           AUDI
16           AUDI
17           AUDI
18      CHEVROLET
19      CHEVROLET
20      CHEVROLET
21      CHEVROLET
22      CHEVROLET
23      CHEVROLET
24      CHEVROLET
25      CHEVROLET
26      CHEVROLET
27      CHEVROLET
28      CHEVROLET
29      CHEVROLET
          ...
204        TOYOTA
205        TOYOTA
206        TOYOTA
207    VOLKSWAGEN
208    VOLKSWAGEN
209    VOLKSWAGEN
210    VOLKSWAGEN
211    VOLKSWAGEN
212    VOLKSWAGEN
213    VOLKSWAGEN
214    VOLKSWAGEN
215    VOLKSWAGEN
216    VOLKSWAGEN
217    VOLKSWAGEN
218    VOLKSWAGEN
219    VOLKSWAGEN
220    VOLKSWAGEN
221    VOLKSWAGEN
222    VOLKSWAGEN
223    VOLKSWAGEN
224    VOLKSWAGEN
225    VOLKSWAGEN
226    VOLKSWAGEN
227    VOLKSWAGEN
228    VOLKSWAGEN
229    VOLKSWAGEN
230    VOLKSWAGEN
231    VOLKSWAGEN
232    VOLKSWAGEN
233    VOLKSWAGEN
Name: manufacturer, Length: 234, dtype: object

In [0]:
df.manufacturer.map(str.upper)

0            AUDI
1            AUDI
2            AUDI
3            AUDI
4            AUDI
5            AUDI
6            AUDI
7            AUDI
8            AUDI
9            AUDI
10           AUDI
11           AUDI
12           AUDI
13           AUDI
14           AUDI
15           AUDI
16           AUDI
17           AUDI
18      CHEVROLET
19      CHEVROLET
20      CHEVROLET
21      CHEVROLET
22      CHEVROLET
23      CHEVROLET
24      CHEVROLET
25      CHEVROLET
26      CHEVROLET
27      CHEVROLET
28      CHEVROLET
29      CHEVROLET
          ...
204        TOYOTA
205        TOYOTA
206        TOYOTA
207    VOLKSWAGEN
208    VOLKSWAGEN
209    VOLKSWAGEN
210    VOLKSWAGEN
211    VOLKSWAGEN
212    VOLKSWAGEN
213    VOLKSWAGEN
214    VOLKSWAGEN
215    VOLKSWAGEN
216    VOLKSWAGEN
217    VOLKSWAGEN
218    VOLKSWAGEN
219    VOLKSWAGEN
220    VOLKSWAGEN
221    VOLKSWAGEN
222    VOLKSWAGEN
223    VOLKSWAGEN
224    VOLKSWAGEN
225    VOLKSWAGEN
226    VOLKSWAGEN
227    VOLKSWAGEN
228    VOLKSWAGEN
229    VOLKSWAGEN
230    VOLKSWAGEN
231    VOLKSWAGEN
232    VOLKSWAGEN
233    VOLKSWAGEN
Name: manufacturer, Length: 234, dtype: object

In [0]:
df[['manufacturer', 'model', 'class']].apply(lambda s: s.str.upper())  #หลายๆ col ก็ได้

    manufacturer               model       class
0           AUDI                  A4     COMPACT
1           AUDI                  A4     COMPACT
2           AUDI                  A4     COMPACT
3           AUDI                  A4     COMPACT
4           AUDI                  A4     COMPACT
5           AUDI                  A4     COMPACT
6           AUDI                  A4     COMPACT
7           AUDI          A4 QUATTRO     COMPACT
8           AUDI          A4 QUATTRO     COMPACT
9           AUDI          A4 QUATTRO     COMPACT
10          AUDI          A4 QUATTRO     COMPACT
11          AUDI          A4 QUATTRO     COMPACT
12          AUDI          A4 QUATTRO     COMPACT
13          AUDI          A4 QUATTRO     COMPACT
14          AUDI          A4 QUATTRO     COMPACT
15          AUDI          A6 QUATTRO     MIDSIZE
16          AUDI          A6 QUATTRO     MIDSIZE
17          AUDI          A6 QUATTRO     MIDSIZE
18     CHEVROLET  C1500 SUBURBAN 2WD         SUV
19     CHEVROLET  C1500 SUBURBAN 2WD         SUV
20     CHEVROLET  C1500 SUBURBAN 2WD         SUV
21     CHEVROLET  C1500 SUBURBAN 2WD         SUV
22     CHEVROLET  C1500 SUBURBAN 2WD         SUV
23     CHEVROLET            CORVETTE     2SEATER
24     CHEVROLET            CORVETTE     2SEATER
25     CHEVROLET            CORVETTE     2SEATER
26     CHEVROLET            CORVETTE     2SEATER
27     CHEVROLET            CORVETTE     2SEATER
28     CHEVROLET     K1500 TAHOE 4WD         SUV
29     CHEVROLET     K1500 TAHOE 4WD         SUV
..           ...                 ...         ...
204       TOYOTA   TOYOTA TACOMA 4WD      PICKUP
205       TOYOTA   TOYOTA TACOMA 4WD      PICKUP
206       TOYOTA   TOYOTA TACOMA 4WD      PICKUP
207   VOLKSWAGEN                 GTI     COMPACT
208   VOLKSWAGEN                 GTI     COMPACT
209   VOLKSWAGEN                 GTI     COMPACT
210   VOLKSWAGEN                 GTI     COMPACT
211   VOLKSWAGEN                 GTI     COMPACT
212   VOLKSWAGEN               JETTA     COMPACT
213   VOLKSWAGEN               JETTA     COMPACT
214   VOLKSWAGEN               JETTA     COMPACT
215   VOLKSWAGEN               JETTA     COMPACT
216   VOLKSWAGEN               JETTA     COMPACT
217   VOLKSWAGEN               JETTA     COMPACT
218   VOLKSWAGEN               JETTA     COMPACT
219   VOLKSWAGEN               JETTA     COMPACT
220   VOLKSWAGEN               JETTA     COMPACT
221   VOLKSWAGEN          NEW BEETLE  SUBCOMPACT
222   VOLKSWAGEN          NEW BEETLE  SUBCOMPACT
223   VOLKSWAGEN          NEW BEETLE  SUBCOMPACT
224   VOLKSWAGEN          NEW BEETLE  SUBCOMPACT
225   VOLKSWAGEN          NEW BEETLE  SUBCOMPACT
226   VOLKSWAGEN          NEW BEETLE  SUBCOMPACT
227   VOLKSWAGEN              PASSAT     MIDSIZE
228   VOLKSWAGEN              PASSAT     MIDSIZE
229   VOLKSWAGEN              PASSAT     MIDSIZE
230   VOLKSWAGEN              PASSAT     MIDSIZE
231   VOLKSWAGEN              PASSAT     MIDSIZE
232   VOLKSWAGEN              PASSAT     MIDSIZE
233   VOLKSWAGEN              PASSAT     MIDSIZE

[234 rows x 3 columns]

In [0]:
df.apply(lambda d: f'{d.manufacturer} ({d.model} {d.trans})', axis=1)  #หรือรวมข้อความกันก็ได้

0                           audi (a4 auto(l5))
1                         audi (a4 manual(m5))
2                         audi (a4 manual(m6))
3                           audi (a4 auto(av))
4                           audi (a4 auto(l5))
5                         audi (a4 manual(m5))
6                           audi (a4 auto(av))
7                 audi (a4 quattro manual(m5))
8                   audi (a4 quattro auto(l5))
9                 audi (a4 quattro manual(m6))
10                  audi (a4 quattro auto(s6))
11                  audi (a4 quattro auto(l5))
12                audi (a4 quattro manual(m5))
13                  audi (a4 quattro auto(s6))
14                audi (a4 quattro manual(m6))
15                  audi (a6 quattro auto(l5))
16                  audi (a6 quattro auto(s6))
17                  audi (a6 quattro auto(s6))
18     chevrolet (c1500 suburban 2wd auto(l4))
19     chevrolet (c1500 suburban 2wd auto(l4))
20     chevrolet (c1500 suburban 2wd auto(l4))
21     chevrolet (c1500 suburban 2wd auto(l4))
22     chevrolet (c1500 suburban 2wd auto(l4))
23             chevrolet (corvette manual(m6))
24               chevrolet (corvette auto(l4))
25             chevrolet (corvette manual(m6))
26               chevrolet (corvette auto(s6))
27             chevrolet (corvette manual(m6))
28        chevrolet (k1500 tahoe 4wd auto(l4))
29        chevrolet (k1500 tahoe 4wd auto(l4))
                        ...
204        toyota (toyota tacoma 4wd auto(l4))
205      toyota (toyota tacoma 4wd manual(m6))
206        toyota (toyota tacoma 4wd auto(l5))
207                volkswagen (gti manual(m5))
208                  volkswagen (gti auto(l4))
209                volkswagen (gti manual(m6))
210                  volkswagen (gti auto(s6))
211                volkswagen (gti manual(m5))
212              volkswagen (jetta manual(m5))
213              volkswagen (jetta manual(m5))
214                volkswagen (jetta auto(l4))
215                volkswagen (jetta auto(s6))
216              volkswagen (jetta manual(m6))
217                volkswagen (jetta auto(s6))
218              volkswagen (jetta manual(m5))
219                volkswagen (jetta auto(l4))
220              volkswagen (jetta manual(m5))
221         volkswagen (new beetle manual(m5))
222           volkswagen (new beetle auto(l4))
223         volkswagen (new beetle manual(m5))
224           volkswagen (new beetle auto(l4))
225         volkswagen (new beetle manual(m5))
226           volkswagen (new beetle auto(s6))
227             volkswagen (passat manual(m5))
228               volkswagen (passat auto(l5))
229               volkswagen (passat auto(s6))
230             volkswagen (passat manual(m6))
231               volkswagen (passat auto(l5))
232             volkswagen (passat manual(m5))
233               volkswagen (passat auto(s6))
Length: 234, dtype: object

In [0]:
df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
5,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact
6,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
7,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact
8,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact
9,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact
10,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact
11,audi,a4 quattro,2.8,1999,6,auto(l5),4,15,25,p,compact
12,audi,a4 quattro,2.8,1999,6,manual(m5),4,17,25,p,compact
13,audi,a4 quattro,3.1,2008,6,auto(s6),4,17,25,p,compact
14,audi,a4 quattro,3.1,2008,6,manual(m6),4,15,25,p,compact
15,audi,a6 quattro,2.8,1999,6,auto(l5),4,15,24,p,midsize
16,audi,a6 quattro,3.1,2008,6,auto(s6),4,17,25,p,midsize
17,audi,a6 quattro,4.2,2008,8,auto(s6),4,16,23,p,midsize
18,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
19,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,11,15,e,suv
20,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
21,chevrolet,c1500 suburban 2wd,5.7,1999,8,auto(l4),r,13,17,r,suv
22,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv
23,chevrolet,corvette,5.7,1999,8,manual(m6),r,16,26,p,2seater
24,chevrolet,corvette,5.7,1999,8,auto(l4),r,15,23,p,2seater
25,chevrolet,corvette,6.2,2008,8,manual(m6),r,16,26,p,2seater
26,chevrolet,corvette,6.2,2008,8,auto(s6),r,15,25,p,2seater
27,chevrolet,corvette,7.0,2008,8,manual(m6),r,15,24,p,2seater
28,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,14,19,r,suv
29,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,11,14,e,suv
...,...,...,...,...,...,...,...,...,...,...,...
204,toyota,toyota tacoma 4wd,3.4,1999,6,auto(l4),4,15,19,r,pickup
205,toyota,toyota tacoma 4wd,4.0,2008,6,manual(m6),4,15,18,r,pickup
206,toyota,toyota tacoma 4wd,4.0,2008,6,auto(l5),4,16,20,r,pickup
207,volkswagen,gti,2.0,1999,4,manual(m5),f,21,29,r,compact
208,volkswagen,gti,2.0,1999,4,auto(l4),f,19,26,r,compact
209,volkswagen,gti,2.0,2008,4,manual(m6),f,21,29,p,compact
210,volkswagen,gti,2.0,2008,4,auto(s6),f,22,29,p,compact
211,volkswagen,gti,2.8,1999,6,manual(m5),f,17,24,r,compact
212,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact
213,volkswagen,jetta,2.0,1999,4,manual(m5),f,21,29,r,compact
214,volkswagen,jetta,2.0,1999,4,auto(l4),f,19,26,r,compact
215,volkswagen,jetta,2.0,2008,4,auto(s6),f,22,29,p,compact
216,volkswagen,jetta,2.0,2008,4,manual(m6),f,21,29,p,compact
217,volkswagen,jetta,2.5,2008,5,auto(s6),f,21,29,r,compact
218,volkswagen,jetta,2.5,2008,5,manual(m5),f,21,29,r,compact
219,volkswagen,jetta,2.8,1999,6,auto(l4),f,16,23,r,compact
220,volkswagen,jetta,2.8,1999,6,manual(m5),f,17,24,r,compact
221,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact
222,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact
223,volkswagen,new beetle,2.0,1999,4,manual(m5),f,21,29,r,subcompact
224,volkswagen,new beetle,2.0,1999,4,auto(l4),f,19,26,r,subcompact
225,volkswagen,new beetle,2.5,2008,5,manual(m5),f,20,28,r,subcompact
226,volkswagen,new beetle,2.5,2008,5,auto(s6),f,20,29,r,subcompact
227,volkswagen,passat,1.8,1999,4,manual(m5),f,21,29,p,midsize
228,volkswagen,passat,1.8,1999,4,auto(l5),f,18,29,p,midsize
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [14]:
df['kml'] = df.apply(lambda d: f'{d.cty * 0.425143707:4.1f}/{d.hwy * 0.425143707:4.1f}', axis=1)
df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,kml
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,7.7/12.3
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8.9/12.3
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,8.5/13.2
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,8.9/12.8
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,6.8/11.1
...,...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,8.1/11.9
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8.9/12.3
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,6.8/11.1
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,7.7/11.1
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,7.2/11.1

In [15]:
df.mean()

displ       3.471795
year     2003.500000
cyl         5.888889
cty        16.858974
hwy        23.440171
dtype: float64

In [17]:
df.select_dtypes(include=[np.number]).drop('year', axis=1)           #เลือกชนิดข้อมูลที่เป็นตัวเลขลบyearในcol

     displ  cyl  cty  hwy
0      1.8    4   18   29
1      1.8    4   21   29
2      2.0    4   20   31
3      2.0    4   21   30
4      2.8    6   16   26
..     ...  ...  ...  ...
229    2.0    4   19   28
230    2.0    4   21   29
231    2.8    6   16   26
232    2.8    6   18   26
233    3.6    6   17   26

[234 rows x 4 columns]

In [16]:
df.select_dtypes(include=[np.number]).drop('year', axis=1).apply(stats.hmean)  #ไปหา hmean

displ     3.014710
cyl       5.446082
cty      15.848635
hwy      21.914100
dtype: float64