# lambda

* lambda function
* lambda expression
* anonymous function
* nameless function

In [1]:
def cel2fah(c):
    return (c * (9 / 5)) + 32

In [2]:
cel2fah(100)

212.0

In [3]:
cel2fah(0)

32.0

In [4]:
lambda c: (c * (9 / 5)) + 32

In [5]:
c2f=lambda c: (c * (9 / 5)) + 32

In [6]:
c2f(100)

212.0

In [7]:
t=[0,10,20,30,100]

In [8]:
f=map(lambda c: cel2fah(c), t)
list(f)

[32.0, 50.0, 68.0, 86.0, 212.0]

In [9]:
f2=map(lambda c: c * 9 / 5 + 32, t)
list(f2)

[32.0, 50.0, 68.0, 86.0, 212.0]

In [10]:
rectangle=lambda w, h: w * h

In [11]:
rectangle(5, 10)

50

In [12]:
import pandas as pd
pd.__version__

'1.0.0'

In [13]:
df=pd.DataFrame({'celsius': t})
df

   celsius
0        0
1       10
2       20
3       30
4      100

In [14]:
df.celsius * 9/5+32

0     32.0
1     50.0
2     68.0
3     86.0
4    212.0
Name: celsius, dtype: float64

In [15]:
df.celsius.map(lambda c: c*9/5+32)

0     32.0
1     50.0
2     68.0
3     86.0
4    212.0
Name: celsius, dtype: float64

In [16]:
%timeit -n1000 df.celsius * 9/5+32

1.53 ms ± 205 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [17]:
%timeit -n1000 df.celsius.map(lambda c: c*9/5+32)

742 µs ± 87.9 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [18]:
df.celsius.apply(lambda c: c*9/5+32)

0     32.0
1     50.0
2     68.0
3     86.0
4    212.0
Name: celsius, dtype: float64

In [19]:
%timeit -n1000 df.celsius.apply(lambda c: c*9/5+32)

839 µs ± 55.6 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [20]:
df['fah']=df.celsius.map(lambda c: c*9/5+32)
df

   celsius    fah
0        0   32.0
1       10   50.0
2       20   68.0
3       30   86.0
4      100  212.0