In [1]:
import pandas as pd

## Read movie data

https://github.com/prasertcbs/basic-dataset/raw/master/IMDB_Movie_1000_Data.csv

In [2]:
df=pd.read_csv('https://github.com/prasertcbs/basic-dataset/raw/master/IMDB_Movie_1000_Data.csv', nrows=5)
df

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40

In [3]:
df=pd.read_csv('https://github.com/prasertcbs/basic-dataset/raw/master/IMDB_Movie_1000_Data.csv', 
    nrows=5, usecols=['Title','Genre','Year'])
df

                     Title                     Genre  Year
0  Guardians of the Galaxy   Action,Adventure,Sci-Fi  2014
1               Prometheus  Adventure,Mystery,Sci-Fi  2012
2                    Split           Horror,Thriller  2016
3                     Sing   Animation,Comedy,Family  2016
4            Suicide Squad  Action,Adventure,Fantasy  2016

### convert Genre to list

In [ ]:
df.Genre[4]

In [ ]:
df.Genre[4].split(',') # ข้อมูลแต่ละตัวถูกคั่นด้วย ,

In [ ]:
df.Genre.str.split(',')

In [ ]:
df['glist']=df.Genre.str.split(',')
df

In [ ]:
df['glist'][2][1]

### Explode/Unnest Genre List

In [ ]:
dt=df.explode('glist')
dt

In [ ]:
dt['glist'].value_counts()

In [ ]:
pd.crosstab(dt['Year'], dt['glist'], margins=all)

---
## create movie_id

In [ ]:
df=pd.read_csv('https://github.com/prasertcbs/basic-dataset/raw/master/IMDB_Movie_1000_Data.csv', 
    nrows=5, usecols=['Title','Genre','Year'])
df

In [ ]:
df['movie_id']=df.index
df

In [ ]:
df['glist']=df.Genre.str.split(',')
df

In [ ]:
dt=df.explode('glist')
dt

In [ ]:
# dt=df.explode('glist')
dg=dt[['movie_id', 'glist']]
dg

## explode Actors column

In [ ]:
df=pd.read_csv('https://github.com/prasertcbs/basic-dataset/raw/master/IMDB_Movie_1000_Data.csv', 
    nrows=5)
df

In [ ]:
df=pd.read_csv('https://github.com/prasertcbs/basic-dataset/raw/master/IMDB_Movie_1000_Data.csv', 
    nrows=5, usecols=[1,5])
df

In [ ]:
df['actor']=df.Actors.str.split(', ')
df

In [ ]:
df.explode('actor')